@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;1,100&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

.portfolio-wrapper{
    font-family: 'Newsreader',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 100px;
}
.categories{
    box-sizing: border-box;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 80vh 80vh 80vh;
    row-gap: 180px;
    overflow: hidden;   
}
.heading{
    padding: 0px 50px;
}
.portfolio-head{
    font-family: 'Newsreader', 'Times New Roman', Times, serif;
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 40px;
}
.heading p{
    width: 50%;
    font-family: 'poppins';
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 200;
    margin-bottom: 150px;
}